body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.bg-home {
  position: relative;
  padding: 240px 0;
  border-radius: 0 0 0 450px;
}

.bg-light {
  background-color: #f0f9fa !important;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-content .home-title {
  font-size: 45px;
}

.f-20 {
  font-size: 20px;
}

p {
  line-height: 1.7;
}

//Button
.btn-primary {
  background: #1ea59a !important;
  border-color: #1ea59a !important;
}

.btn {
  font-size: 15px;
  padding: .6rem 1.3rem;
  transition: all .4s;
  font-weight: 600;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #fff;
}

.home-img {
  position: relative;
}

.home-img .animation-1 {
  width: 38px;
  height: 38px;
  border: 7px solid #f8c101;
  border-radius: 50%;
  position: absolute;
  right: -84px;
  bottom: 46px;
  -webkit-animation-name: zoom1;
  animation-name: zoom1;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.home-img .animation-1 {
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, .14);
}

.home-img .animation-2,
.home-img .animation-3 {
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
}

.home-img .animation-2 {
  background-color: #2f3c71;
  box-shadow: 0 20px 30px 0 rgba(48, 61, 114, .4);
  top: -60px;
  right: 60px;
  animation: spin 2s infinite alternate;
}

.home-img .animation-2 {
  bottom: 60px;
}

.home-img .animation-3 {
  background-color: #f5828b;
  box-shadow: 0 20px 30px 0 rgba(245, 130, 139, .4);
  bottom: 50px;
  left: -45px;
  -webkit-animation: spin 3s infinite alternate;
  animation: spin 3s infinite alternate;
}

.home-img .animation-2,
.home-img .animation-3 {
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}

@keyframes zoom1 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.5);
  }
}

/*** Move through Parent ***/
@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.bg-aboutus {
  background-image: url("https://thamza.react.themesdesign.in/static/media/bg-2.b2e401ba.png");
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.title-box .title-heading {
  font-size: 30px;
  text-align: center;
}

.media {
  display: flex;
  align-items: flex-start;
}

.count-box {
  padding: 13px 20px;
  border-radius: 10px;
  width: 125px;
}

.bg-soft-primary {
  background-color: rgba(30, 165, 154, .1) !important;
}

.text-color {
  color: #1ea59a !important;
}

.count-box .count-plus {
  font-size: 20px;
  position: relative;
  top: -8px;
}

.f-14 {
  font-size: 14px;
}

.text-custom-muted {
  color: #828f99 !important;
}

.bg-features {
  border-radius: 0 0 350px 0;
}

.bg-light {
  background-color: #f0f9fa !important;
}

@media (min-width: 200px) and (max-width: 992px) {
  .home-img .animation-1 {
    right: 0;
  }
}